{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}} 
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %} 



{% block title %}
    {% if title %}C$50 Finance: {{ title }} {% else %} C$50 Finance: {% endif %}
{% endblock %}
        
{% block navbar %}
        <!-- Header-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- CS50 Banner -->
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><span class="blue">C</span><span class="red">$</span><span class="yellow">5</span><span class="green">0</span> <span class="red">Finance</span></a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Navigation Links -->
                <div class="collapse navbar-collapse" id="navbar">
                    {% if not current_user.is_anonymous %}
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="">Quote</a></li>
                            <li><a href="">Buy</a></li>
                            <li><a href="">Sell</a></li>
                            <li><a href="">History</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                            <li><a href="{{ url_for('auth.reset_password_request') }}">Reset</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

{% endblock %} 

{% block content %}
        <div class="container">
        {% block app_content %} {% endblock %} 
        </div>

{% endblock %} 
    

        {% block scripts %}
        
        {% endblock %}