{% extends 'base.html' %} 
{% from 'bootstrap/wtf.html' import quick_form %}

{% block app_content %} 
<table class="table table-hover">
    <tr>
        <td width="256px"><img src="{{ user.avatar(256) }}"></td>
        <td>
            <h1>Welcome {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %} 
            <p>Last seen on: {{ user.last_seen }}</p>
            {% endif %} 

            {% if user == current_user %} 
            <p><a href="{{ url_for('main.edit_profile') }}">Edit Profile</a></p>
            {% endif %}
        </td>
    </tr>
</table>

{% endblock %}
